.test-border{
  border: red solid 2px;
}

.user {
  border: black solid 3px;
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.padme{
  padding: 5px;
}

