.separador-vertical{
  border-right:1px solid #bfbdbd;
  max-height: 200px;
  max-width: 200px;
}
  
  .titulo-equipo{
  margin-top:0px;
      
    }
    
  .equipo-item{
    border:	1px solid #D1CFCF ;
        padding: 10px;
    border-radius:10px;
  margin-bottom:25px;
      }

.checked {
    color: orange;
}