<link href='seller-header.component.css' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://i.imgur.com/qozv4.png" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="https://pbs.twimg.com/media/B3dcNwDCYAAzAvJ.png" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>Caked out Thotz</h1>
            <h4>4.5/5</h4>
            <h4>1234 Street</h4>
        </div>
    </div>
</div> <!-- /container -->  