
 <!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="navbar-nav">
      <li class="active"><a href="#">Menu</a></li>
      <li><a >Details</a></li>
      <li><a >Reviews</a></li>
      <li><a >Deals</a></li>
      <li><a >Photos</a></li>
    </ul>
  </div>
</nav>-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a >Menu</a></li>
      <li><a >Details</a></li>
      <li><a >Reviews</a></li>
      <li><a >Deals</a></li>
      <li><a >Photos</a></li>
    </ul>
  </div>
</nav>