body,
html {
  overflow: hidden;
   margin: 0;
  padding: 0;
  font-family: 'Oswald', serif;
  font-size: 16px;
}

.margin{
  margin-left: 10%;
}

.wrapper {
  display: flex;
  height: 500px;
}

.sidebar {
  width: 30%;
  background: #001f3f;
  color: hsla(210, 100%, 75%, 1.0);
  overflow-y: scroll;
  padding: 10px;
}

.content {
  overflow-y: scroll;
}

.giveSize{
  width: 100%;
}