  <div class="row">
    <div class="col-md-3">
        <app-featured-sellers-container></app-featured-sellers-container>
    </div>
    <div class="col-md-9">
        <app-seller-map></app-seller-map>
    </div>
  </div>
  <div class="container">
  <div class="row">
  </div>
</div>
  <div class="container">
  <div class="row">
  	  <app-product-list></app-product-list>
  </div>
</div>
  <div class="container">
  <div class="row">
  	  <app-shopping-list></app-shopping-list>
  </div>
</div>

  
 